* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

figure {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

body {
    background-color: black;
}

h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 50px 0px 50px 0px;
}

.container {
    display: flex;
    margin: 0 auto;
    width: 700px;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    font-size: 14px;
    color: #9c9c9c;
    text-align: center;
}

#plus {
    display: flex;
    align-items: center;
    justify-content: center;
}

#plus:hover {
    filter:brightness(1000%);
}

.avatar {
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 20px;
}

.imagem:hover {
    color: white;
}
.avatar:hover {
    border: 1.5px solid white;
}
.avatar img:hover {
    border-radius: 20px;
    color: white;
    transition: (1.1);
    transform: scale(1.1);
}

.perfis {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: solid white;
    border-radius: 10px;
    padding: 15px;
    width: 200px;
}

.perfis:hover {
    border-color: white;
    color: black;
    background-color: white;
    cursor: pointer;
}